.page-dot {
  height: 14px;
  width: 14px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: gray;
  margin-left: 10px;
  cursor: pointer;
}

.icon-page {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.dot-cont {
  display: flex;
  align-items: center;
}

.focused {
  opacity: 0.5;
}
